In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import warnings
warnings.filterwarnings("ignore")

In [2]:
spark = SparkSession.builder \
    .master('local[*]') \
        .appName('test') \
            .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/31 03:01:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Schemas and Creating DataFrames

In [16]:
# yellow_schema = StructType(
#     [
#         StructField('VendorID', IntegerType()),
#         StructField('lpep_pickup_datetime', TimestampType()),
#         StructField('lpep_dropoff_datetime', TimestampType()),
#         StructField('store_and_fwd_flag', StringType()),
#         StructField('RatecodeID', DoubleType()),
#         StructField('PULocationID', IntegerType()),
#         StructField('DOLocationID', IntegerType()),
#         StructField('passenger_count', IntegerType()),
#         StructField('trip_distance', DoubleType()),
#         StructField('fare_amount', DoubleType()),
#         StructField('extra', DoubleType()),
#         StructField('mta_tax', DoubleType()),
#         StructField('tip_amount', DoubleType()),
#         StructField('tolls_amount', DoubleType()),
#         StructField('improvement_surcharge', DoubleType()),
#         StructField('total_amount', DoubleType()),
#         StructField('payment_type', DoubleType()),
#         StructField('trip_type', DoubleType()),
#         StructField('congestion_surcharge', DoubleType())
#     ]
# )

In [12]:
# green_schema = StructType(
#     [
#         StructField('VendorID', IntegerType()),
#         StructField('lpep_pickup_datetime', TimestampType()),
#         StructField('lpep_dropoff_datetime', TimestampType()),
#         StructField('store_and_fwd_flag', StringType()),
#         StructField('RatecodeID', DoubleType()),
#         StructField('PULocationID', IntegerType()),
#         StructField('DOLocationID', IntegerType()),
#         StructField('passenger_count', IntegerType()),
#         StructField('trip_distance', DoubleType()),
#         StructField('fare_amount', DoubleType()),
#         StructField('extra', DoubleType()),
#         StructField('mta_tax', DoubleType()),
#         StructField('tip_amount', DoubleType()),
#         StructField('tolls_amount', DoubleType()),
#         StructField('ehail_fee', DoubleType()),
#         StructField('improvement_surcharge', DoubleType()),
#         StructField('total_amount', DoubleType()),
#         StructField('payment_type', DoubleType()),
#         StructField('trip_type', DoubleType()),
#         StructField('congestion_surcharge', DoubleType())
#     ]
# )

In [20]:
df_green = spark.read.parquet('data/raw/green/*/*')
df_yellow = spark.read.parquet('data/raw/yellow/*/*')

In [21]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2019-12-18 15:52:30|  2019-12-18 15:54:39|                 N|       1.0|         264|         264|            5.0|          0.0|        3.5|  0.5|    0.5|      0.01|         0.0|     null|                  0.3|        4.81|         1.0|      1.0|                 0.0|
|       2| 2020-01-01 00:45:58|  2020-01-01 00:56:39|                 N|       5.0|          66|          65|            2.0|         1.28|       20.0|  0.0|    0.0|      4.06|         0.0|     null|                  0.3|       24.36|         1.0|      2.0|                 0.0|
|       2| 2020-01-01 00:41:38|  2020-01-01 00:52:49|                 N|       1.0|         181|         228|            1.0|         2.47|       10.5|  0.5|    0.5|      3.54|         0.0|     null|                  0.3|       15.34|         1.0|      1.0|                 0.0|
|       1| 2020-01-01 00:52:46|  2020-01-01 01:14:21|                 N|       1.0|         129|         263|            2.0|          6.3|       21.0| 3.25|    0.5|       0.0|         0.0|     null|                  0.3|       25.05|         2.0|      1.0|                2.75|
|       1| 2020-01-01 00:19:57|  2020-01-01 00:30:56|                 N|       1.0|         210|         150|            1.0|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.3|         1.0|      1.0|                 0.0|
|       1| 2020-01-01 00:52:33|  2020-01-01 01:09:54|                 N|       1.0|          35|          39|            1.0|          3.0|       13.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        14.8|         1.0|      1.0|                 0.0|
|       2| 2020-01-01 00:10:18|  2020-01-01 00:22:16|                 N|       1.0|          25|          61|            1.0|         2.77|       11.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        12.3|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 01:03:14|  2020-01-01 01:29:45|                 N|       1.0|         225|          89|            1.0|         4.98|       20.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        21.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:04:11|  2020-01-01 00:09:48|                 N|       1.0|         129|         129|            1.0|         0.71|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:25:52|  2020-01-01 00:32:16|                 N|       1.0|         129|          83|            1.0|          0.8|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:47:32|  2020-01-01 00:59:25|                 N|       1.0|          82|         173|            1.0|         1.52|        9.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        10.8|         2.0|      1.0|                 0.0|
|       1| 2020-01-01 00:26:40|  2020-01-01 00:40:42|                 N|       1.0|          74|          69|            1.0|          3.8|       14.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        15.3|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:38:47|  2020-01-01 00:46:02|                 N|       1.0|          74|          41|            1.0|         1.12|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|         1.0|      1.0|                 0.0|
|       2| 2020-01-01 00:52:18|  2020-01-01 01:09:58|                 N|       1.0|          41|         127|            1.0|         5.67|       19.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        20.3|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:16:01|  2020-01-01 00:26:40|                 N|       1.0|           7|         260|            1.0|         1.86|        9.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        10.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:21:15|  2020-01-01 00:28:03|                 N|       1.0|           7|           7|            1.0|         1.42|        7.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.3|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 00:35:42|  2020-01-01 01:02:00|                 N|       1.0|           7|         133|            1.0|        15.48|       43.0|  0.5|    0.5|      8.86|         0.0|     null|                  0.3|       53.16|         1.0|      1.0|                 0.0|
|       2| 2020-01-01 00:39:51|  2020-01-01 00:42:54|                 N|       1.0|         134|          28|            1.0|         1.15|        5.5|  0.5|    0.5|       1.0|         0.0|     null|                  0.3|         7.8|         1.0|      1.0|                 0.0|
|       1| 2020-01-01 00:00:21|  2020-01-01 00:10:19|                 N|       1.0|          89|          39|            1.0|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.3|         2.0|      1.0|                 0.0|
|       1| 2020-01-01 00:13:59|  2020-01-01 00:21:31|                 N|       1.0|          66|          65|            3.0|          1.0|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|         2.0|      1.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [22]:
# Print the schema used
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [23]:
# If you want to use schema elsewhere in your code
df_green.schema

StructType([StructField('VendorID', LongType(), True), StructField('lpep_pickup_datetime', TimestampType(), True), StructField('lpep_dropoff_datetime', TimestampType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', DoubleType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('passenger_count', DoubleType(), True), StructField('trip_distance', DoubleType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('ehail_fee', IntegerType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('payment_type', DoubleType(), True), StructField('trip_type', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [43]:
# Show the first 5 rows
df_green.head(5)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 12, 18, 15, 52, 30), lpep_dropoff_datetime=datetime.datetime(2019, 12, 18, 15, 54, 39), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=264, DOLocationID=264, passenger_count=5.0, trip_distance=0.0, fare_amount=3.5, extra=0.5, mta_tax=0.5, tip_amount=0.01, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=4.81, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 45, 58), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 56, 39), store_and_fwd_flag='N', RatecodeID=5.0, PULocationID=66, DOLocationID=65, passenger_count=2.0, trip_distance=1.28, fare_amount=20.0, extra=0.0, mta_tax=0.0, tip_amount=4.06, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=24.36, payment_type=1.0, trip_type=2.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 41, 38), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 52, 49), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=181, DOLocationID=228, passenger_count=1.0, trip_distance=2.47, fare_amount=10.5, extra=0.5, mta_tax=0.5, tip_amount=3.54, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=15.34, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=1, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 52, 46), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 1, 14, 21), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=129, DOLocationID=263, passenger_count=2.0, trip_distance=6.3, fare_amount=21.0, extra=3.25, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=25.05, payment_type=2.0, trip_type=1.0, congestion_surcharge=2.75),
 Row(VendorID=1, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 19, 57), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 30, 56), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=210, DOLocationID=150, passenger_count=1.0, trip_distance=2.3, fare_amount=10.0, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=11.3, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0)]

Columns and Expressions

In [28]:
# Concatenate columns using || (sql like)
data = [("James", "Bond"), ("Scott", "Varsa")] 
df = spark.createDataFrame(data).toDF("col1", "col2") 
df.withColumn("Name", expr("col1 || ' & ' || col2")).show()

+-----+-----+-------------+
| col1| col2|         Name|
+-----+-----+-------------+
|James| Bond| James & Bond|
|Scott|Varsa|Scott & Varsa|
+-----+-----+-------------+

In [30]:
data = [("James", "M"),("Michael", "F"),("Jen", "")]
columns = ["name", "gender"]
df = spark.createDataFrame(data=data, schema=columns)
# Using CASE WHEN similar to SQL.
df2 = df.withColumn("gender", expr("CASE WHEN gender = 'M' THEN 'Male' " + "WHEN gender = 'F' THEN 'Female' ELSE 'unknown' END"))
df2.show()

+-------+-------+
|   name| gender|
+-------+-------+
|  James|   Male|
|Michael| Female|
|    Jen|unknown|
+-------+-------+

In [31]:
data = [("2019-01-23",1), ("2019-06-24",2), ("2019-09-20",3)] 
df = spark.createDataFrame(data).toDF("date", "increment") 
# Add Month value from another column
df.select('date', 'increment', expr("add_months(date, increment)").alias("inc_date")).show()

+----------+---------+----------+
|      date|increment|  inc_date|
+----------+---------+----------+
|2019-01-23|        1|2019-02-23|
|2019-06-24|        2|2019-08-24|
|2019-09-20|        3|2019-12-20|
+----------+---------+----------+

In [32]:
# Using Cast() Function
df.select('increment', expr("cast(increment as string) as str_increment")).printSchema()

root
 |-- increment: long (nullable = true)
 |-- str_increment: string (nullable = true)

In [33]:
# Arthemetic operations
df.select('date','increment',expr("increment + 5 as new_increment")).show()

+----------+---------+-------------+
|      date|increment|new_increment|
+----------+---------+-------------+
|2019-01-23|        1|            6|
|2019-06-24|        2|            7|
|2019-09-20|        3|            8|
+----------+---------+-------------+

In [34]:
# Use expr()  to filter the rows
data = [(100, 2), (200, 3000), (500, 500)] 
df = spark.createDataFrame(data).toDF("col1", "col2") 
df.filter(expr("col1 == col2")).show()

+----+----+
|col1|col2|
+----+----+
| 500| 500|
+----+----+

In [37]:
# Return column names
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

Rows

In [40]:
from pyspark.sql import Row

In [45]:
# Take first 7 rows
df_green.take(7)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 12, 18, 15, 52, 30), lpep_dropoff_datetime=datetime.datetime(2019, 12, 18, 15, 54, 39), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=264, DOLocationID=264, passenger_count=5.0, trip_distance=0.0, fare_amount=3.5, extra=0.5, mta_tax=0.5, tip_amount=0.01, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=4.81, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 45, 58), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 56, 39), store_and_fwd_flag='N', RatecodeID=5.0, PULocationID=66, DOLocationID=65, passenger_count=2.0, trip_distance=1.28, fare_amount=20.0, extra=0.0, mta_tax=0.0, tip_amount=4.06, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=24.36, payment_type=1.0, trip_type=2.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 41, 38), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 52, 49), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=181, DOLocationID=228, passenger_count=1.0, trip_distance=2.47, fare_amount=10.5, extra=0.5, mta_tax=0.5, tip_amount=3.54, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=15.34, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=1, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 52, 46), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 1, 14, 21), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=129, DOLocationID=263, passenger_count=2.0, trip_distance=6.3, fare_amount=21.0, extra=3.25, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=25.05, payment_type=2.0, trip_type=1.0, congestion_surcharge=2.75),
 Row(VendorID=1, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 19, 57), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 30, 56), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=210, DOLocationID=150, passenger_count=1.0, trip_distance=2.3, fare_amount=10.0, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=11.3, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=1, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 52, 33), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 1, 9, 54), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=35, DOLocationID=39, passenger_count=1.0, trip_distance=3.0, fare_amount=13.5, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=14.8, payment_type=1.0, trip_type=1.0, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 10, 18), lpep_dropoff_datetime=datetime.datetime(2020, 1, 1, 0, 22, 16), store_and_fwd_flag='N', RatecodeID=1.0, PULocationID=25, DOLocationID=61, passenger_count=1.0, trip_distance=2.77, fare_amount=11.0, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=12.3, payment_type=2.0, trip_type=1.0, congestion_surcharge=0.0)]

Common DataFrame Operations

In [54]:
# Projections and filters
df_green\
    .select('lpep_pickup_datetime', 'lpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'passenger_count')\
        .where((col('passenger_count') > 5) & (col('passenger_count') < 7))\
            .show(5)

+--------------------+---------------------+------------+------------+---------------+
|lpep_pickup_datetime|lpep_dropoff_datetime|PULocationID|DOLocationID|passenger_count|
+--------------------+---------------------+------------+------------+---------------+
| 2020-01-01 00:45:58|  2020-01-01 00:57:37|         145|         179|            6.0|
| 2020-01-01 00:28:39|  2020-01-01 01:08:08|          80|         238|            6.0|
| 2020-01-01 00:06:02|  2020-01-01 00:27:20|          66|         228|            6.0|
| 2020-01-01 00:43:08|  2020-01-01 01:08:09|          66|         107|            6.0|
| 2020-01-01 00:07:06|  2020-01-01 00:11:13|          41|         152|            6.0|
+--------------------+---------------------+------------+------------+---------------+
only showing top 5 rows

In [61]:
# Count distinct cardinality of column
df_green\
    .select('lpep_pickup_datetime', 'lpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'passenger_count')\
        .where((col('passenger_count') > 5) & (col('passenger_count') < 8))\
            .agg(countDistinct('PULocationID').alias('DistinctPULocationID'))\
                .show()

+--------------------+
|DistinctPULocationID|
+--------------------+
|                 182|
+--------------------+

In [66]:
# List distinct cardinality of column
df_green\
    .select('PULocationID')\
        .where((col('passenger_count') > 5) & (col('passenger_count') < 8))\
            .distinct()\
                .show(10)

+------------+
|PULocationID|
+------------+
|          29|
|          26|
|          65|
|         222|
|         243|
|          54|
|         112|
|         167|
|         155|
|         113|
+------------+
only showing top 10 rows

Renaming, adding, and dropping columns

In [68]:
# Rename column
df_green\
    .select('PULocationID', 'DOLocationID')\
        .withColumnRenamed('PULocationID', 'PuPuPuLocationID')\
            .show(5)

+----------------+------------+
|PuPuPuLocationID|DOLocationID|
+----------------+------------+
|             264|         264|
|              66|          65|
|             181|         228|
|             129|         263|
|             210|         150|
+----------------+------------+
only showing top 5 rows

In [86]:
# Convert timestamp to date
df_green\
    .select('lpep_pickup_datetime')\
        .withColumn('new_lpep_pickup_datetime', to_date(col('lpep_pickup_datetime'), "yyy-MM-dd"))\
            .show(2)

+--------------------+------------------------+
|lpep_pickup_datetime|new_lpep_pickup_datetime|
+--------------------+------------------------+
| 2019-12-18 15:52:30|              2019-12-18|
| 2020-01-01 00:45:58|              2020-01-01|
+--------------------+------------------------+
only showing top 2 rows

In [85]:
# Convert date to timestamp
df_green\
    .select('lpep_pickup_datetime')\
        .withColumn('new_lpep_pickup_datetime', to_date(col('lpep_pickup_datetime'), "yyy-MM-dd"))\
            .withColumn('new_lpep_pickup_datetime_ts', to_timestamp(col('new_lpep_pickup_datetime')))\
                .show(2)

+--------------------+------------------------+---------------------------+
|lpep_pickup_datetime|new_lpep_pickup_datetime|new_lpep_pickup_datetime_ts|
+--------------------+------------------------+---------------------------+
| 2019-12-18 15:52:30|              2019-12-18|        2019-12-18 00:00:00|
| 2020-01-01 00:45:58|              2020-01-01|        2020-01-01 00:00:00|
+--------------------+------------------------+---------------------------+
only showing top 2 rows

In [84]:
# Drop columns
df_green\
    .select('lpep_pickup_datetime')\
        .withColumn('new_lpep_pickup_datetime', to_date(col('lpep_pickup_datetime'), "yyy-MM-dd"))\
            .withColumn('new_lpep_pickup_datetime_ts', to_timestamp(col('new_lpep_pickup_datetime')))\
                .drop('lpep_pickup_datetime')\
                    .show(2)

+------------------------+---------------------------+
|new_lpep_pickup_datetime|new_lpep_pickup_datetime_ts|
+------------------------+---------------------------+
|              2019-12-18|        2019-12-18 00:00:00|
|              2020-01-01|        2020-01-01 00:00:00|
+------------------------+---------------------------+
only showing top 2 rows

In [102]:
# Use month(), year(), dayofmonth()
df_green\
    .select('lpep_pickup_datetime')\
        .withColumn('date', dayofmonth('lpep_pickup_datetime'))\
            .withColumn('month', month('lpep_pickup_datetime'))\
                .withColumn('year', year('lpep_pickup_datetime'))\
                    .orderBy('month')\
                        .show(3)

+--------------------+----+-----+----+
|lpep_pickup_datetime|date|month|year|
+--------------------+----+-----+----+
| 2009-01-01 01:27:08|   1|    1|2009|
| 2009-01-01 00:33:51|   1|    1|2009|
| 2009-01-01 00:27:33|   1|    1|2009|
+--------------------+----+-----+----+
only showing top 3 rows

Aggregations

In [106]:
df_green\
    .select('lpep_pickup_datetime', 'lpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'passenger_count')\
        .where((col('passenger_count') > 5) & (col('passenger_count') < 7))\
            .groupBy('PULocationID')\
                .count()\
                    .orderBy('count', ascending=False)\
                        .show(10)

+------------+-----+
|PULocationID|count|
+------------+-----+
|          75| 7464|
|          74| 5962|
|          41| 2498|
|          43| 1653|
|          42| 1438|
|           7| 1055|
|         166|  840|
|          82|  809|
|          95|  763|
|         129|  676|
+------------+-----+
only showing top 10 rows

Spark SQL

In [8]:
# Read the datasets
df = spark.read\
        .option('inferSchema', 'true')\
            .option('header', 'true')\
                .csv('departuredelays.csv')

In [9]:
# Create a tempporary view
df.createOrReplaceTempView('us_delay_flights')

In [11]:
# Find all flights whose distance is greater than 1000 miles
spark.sql(
    """
    SELECT
        distance,
        origin,
        destination
    FROM
        us_delay_flights
    WHERE 
        distance > 1000
    ORDER BY 
        distance DESC
    """
).show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [13]:
# Find all flights were between SFO and ORD with at least a two-hour delay
spark.sql(
    """
    SELECT
        date,
        delay,
        origin,
        destination
    FROM
        us_delay_flights
    WHERE
        delay > 120 
        AND origin = 'SFO' 
        AND destination = 'ORD'
    ORDER BY 
        delay DESC
    """
).show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|1031755|  396|   SFO|        ORD|
|1022330|  326|   SFO|        ORD|
|1051205|  320|   SFO|        ORD|
|1190925|  297|   SFO|        ORD|
|2171115|  296|   SFO|        ORD|
|1071040|  279|   SFO|        ORD|
|1051550|  274|   SFO|        ORD|
|3120730|  266|   SFO|        ORD|
|1261104|  258|   SFO|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

In [15]:
# Label all US flights, regardless of origin and destination with an indication of delays
spark.sql(
    """
    SELECT
        delay,
        origin,
        destination,
        CASE 
            WHEN delay > 360 THEN 'Very Long Delays'
            WHEN delay > 120 AND delay <= 360 THEN 'Long Delays'
            WHEN delay > 60 AND delay <= 120 THEN 'Short Delays'
            WHEN delay > 0 AND DELAY <= 60 THEN 'Tolerable Delays'
            WHEN delay = 0 THEN 'No Delay'
            ELSE 'Early'
        END AS Flight_Delays
    FROM 
        us_delay_flights
    ORDER BY
        origin ASC,
        delay DESC
    """
).show(10)

+-----+------+-----------+-------------+
|delay|origin|destination|Flight_Delays|
+-----+------+-----------+-------------+
|  333|   ABE|        ATL|  Long Delays|
|  305|   ABE|        ATL|  Long Delays|
|  275|   ABE|        ATL|  Long Delays|
|  257|   ABE|        ATL|  Long Delays|
|  247|   ABE|        ATL|  Long Delays|
|  247|   ABE|        DTW|  Long Delays|
|  219|   ABE|        ORD|  Long Delays|
|  211|   ABE|        ATL|  Long Delays|
|  197|   ABE|        DTW|  Long Delays|
|  192|   ABE|        ORD|  Long Delays|
+-----+------+-----------+-------------+
only showing top 10 rows