In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [3]:
# # Create the engine
# engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')

In [2]:
# Connect to the database
conn = psycopg2.connect(
    host="localhost",
    database="ny_taxi",
    user="root",
    password="root"
)

# Create a cursor
cur = conn.cursor()

In [3]:
# Examine tables in the database
cur.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""");
for table in cur.fetchall():
    print(table)

('yellow_taxi_2019-01',)
('yellow_taxi_2019-11',)
('yellow_taxi_2019-02',)
('yellow_taxi_2019-04',)
('yellow_taxi_2019-06',)
('yellow_taxi_2019-07',)
('yellow_taxi_2019-08',)

In [7]:
# Count number of observations
cur.execute('SELECT COUNT(*) FROM "yellow_taxi_2019-01" LIMIT 10');

for row in cur.fetchall():
    print(row)

(7405568,)

In [11]:
# Query the data from table
cur.execute('SELECT * FROM "yellow_taxi_2019-01" LIMIT 10');

print('Number row counted:',cur.rowcount)

for row in cur.fetchall():
    print(row)

Number row counted: 10
(0, 1, datetime.datetime(2019, 1, 1, 0, 46, 40), datetime.datetime(2019, 1, 1, 0, 53, 20), 1.0, 1.5, 1.0, 'N', 151, 239, 1, 7.0, 0.5, 0.5, 1.65, 0.0, 0.3, 9.95, None, None)
(1, 1, datetime.datetime(2019, 1, 1, 0, 59, 47), datetime.datetime(2019, 1, 1, 1, 18, 59), 1.0, 2.6, 1.0, 'N', 239, 246, 1, 14.0, 0.5, 0.5, 1.0, 0.0, 0.3, 16.3, None, None)
(2, 2, datetime.datetime(2018, 12, 21, 13, 48, 30), datetime.datetime(2018, 12, 21, 13, 52, 40), 3.0, 0.0, 1.0, 'N', 236, 236, 1, 4.5, 0.5, 0.5, 0.0, 0.0, 0.3, 5.8, None, None)
(3, 2, datetime.datetime(2018, 11, 28, 15, 52, 25), datetime.datetime(2018, 11, 28, 15, 55, 45), 5.0, 0.0, 1.0, 'N', 193, 193, 2, 3.5, 0.5, 0.5, 0.0, 0.0, 0.3, 7.55, None, None)
(4, 2, datetime.datetime(2018, 11, 28, 15, 56, 57), datetime.datetime(2018, 11, 28, 15, 58, 33), 5.0, 0.0, 2.0, 'N', 193, 193, 2, 52.0, 0.0, 0.5, 0.0, 0.0, 0.3, 55.55, None, None)
(5, 2, datetime.datetime(2018, 11, 28, 16, 25, 49), datetime.datetime(2018, 11, 28, 16, 28, 26), 5.0, 0.0, 1.0, 'N', 193, 193, 2, 3.5, 0.5, 0.5, 0.0, 5.76, 0.3, 13.31, None, None)
(6, 2, datetime.datetime(2018, 11, 28, 16, 29, 37), datetime.datetime(2018, 11, 28, 16, 33, 43), 5.0, 0.0, 2.0, 'N', 193, 193, 2, 52.0, 0.0, 0.5, 0.0, 0.0, 0.3, 55.55, None, None)
(7, 1, datetime.datetime(2019, 1, 1, 0, 21, 28), datetime.datetime(2019, 1, 1, 0, 28, 37), 1.0, 1.3, 1.0, 'N', 163, 229, 1, 6.5, 0.5, 0.5, 1.25, 0.0, 0.3, 9.05, None, None)
(8, 1, datetime.datetime(2019, 1, 1, 0, 32, 1), datetime.datetime(2019, 1, 1, 0, 45, 39), 1.0, 3.7, 1.0, 'N', 229, 7, 1, 13.5, 0.5, 0.5, 3.7, 0.0, 0.3, 18.5, None, None)
(9, 1, datetime.datetime(2019, 1, 1, 0, 57, 32), datetime.datetime(2019, 1, 1, 1, 9, 32), 2.0, 2.1, 1.0, 'N', 141, 234, 1, 10.0, 0.5, 0.5, 1.7, 0.0, 0.3, 13.0, None, None)

In [6]:
# Drop tables
# cur.execute('DROP TABLE "yellow_taxi_2021-05"');
# cur.execute('DROP TABLE "yellow_taxi_trips"');
# cur.execute('DROP TABLE "zones"');

In [6]:
cur.close()
conn.close()

In [5]:
# import pandas as pd
# import pyarrow.parquet as pq
# import numpy as np
# parquet_file = pq.ParquetFile('yellow_tripdata_2020-02.parquet')
# size = []
# for batch in parquet_file.iter_batches():
#     batch_df = batch.to_pandas()
#     size.append(len(batch_df))
# np.sum(size)

6299367